<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>BroRoast AI</title>
</head>
<body class="bg-dark text-white">

                                                            <!-- side bar -->

    <div class="container-fluid">
        <div class="row vh-100">

            <div class="col-3 bg-black p-3">

                <h3>🔥 BroRoast AI</h3>

                <a href="/" class="btn btn-danger w-100 mt-3">
                    + New chat
                </a>

                <hr>

                <a href="{% url 'clear_chat' %}" class="btn btn-outline-danger w-100 mt-2">
                    
                    🗑️ Clear Chats</a>

                <p>History </p>

                <p class="text-secondary"> Total Chats : {{ total_chats }} </p>
                
                {% for chat in messages %}

                <div class="d-flex justify-content-between align-items-center">

                    <div>

                        <a href="{% url 'open_chat' chat.id %}" class="text-decoration-none text-white">
                            {{ chat.user_message|truncatechars:20 }}
                        </a>

                    </div>

                    <a href="{% url 'delete_chat' chat.id %}" class="btn btn-sm btn-danger">
                        🗑️
                    </a>


                </div>
                {% endfor %}
                
        </div>

                                                            <!-- chat page -->

        <div class="col-9 d-flex flex-column">

            <div class="flex-grow-1 d-flex justify-content-center align-items-center ">

                <div class="text-center">
                    <h1>welcome broo</h1>

                    <p>Ask anything... Get roasted 😂</p>

                    {% if chat %}
                    <div class="d-flex justify-content-end mt-4">
                        
                        <div class="bg-primary p-3 rounded">

                            {{ chat.user_message }}

                            </div>
                        </div>

                    <div class="d-flex justify-content-start mt-3">
                        
                        <div class="bg-secondary p-3 rounded">

                            {{ chat.bot_reply }}

                            </div>
                        </div>
                    {% endif %}

                    {% if message %}

                    <div class="d-flex justify-content-end mt-4">

                        <div class="bg-primary text-white p-3 rounded">

                            {{ message }}
                            
                        </div>

                    </div>

                    {% endif %}

                    {% if reply %}
                    <div class="d-flex justify-content-start mt-3">
                        
                        <div class="bg-secondary text-white p-3 rounded">

                            {{ reply }}

                        </div>

                    </div>
                    
                    {% endif %}

                    

                </div>

            </div>

            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" name="message" class="form-control" placeholder="Type your message..." autofocus>

                    <button class="btn btn-danger">Send 🔥</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>